# Quartus compilation garbage
db/
incremental_db/
output_files/
simulation/
greybox_tmp/

# Quartus temporary files
*.qws
*.ppf
*.ddb
*.csv
*.cmp
*.sip
*.spd
*.bsf
*.f
*.kpt
*.log
*.htm
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.sof
*.pof
*.jam
*.jbc
*.done
*.qdf
*.wlf
*.vwf
*.vwf.temp
wlft*

# Generated Test Data
test_vectors.txt
*.pyc
__pycache__/

# OS files
.DS_Store
